.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 50px 30px;
}

.book-preview-img-container {
  display: flex;
  border-radius: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0px 6px 20px -10px black;
  overflow: hidden;
  transition: box-shadow 0.5s 0.2s;
  position: relative;
}
.book-preview-img-container:hover {
  box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.658);
}

.book-preview-sale-tag {
  color: white !important;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background-color: rgb(136, 177, 42);
  font-size: 0.8rem;
  padding: 0.15em 0.35em;
  border-radius: 0.25em;
  color: var(--clr1);
  z-index: 1;
}

.book-list img {
  transition: 1s;
}
.book-list img:hover {
  transform: scale(1.1);
}

.book-preview-remove-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
.book-preview-info-button {
  margin: 5px;
  position: absolute;
  background-color: rgb(27, 215, 174);
  color: whitesmoke;
  border-radius: 2em;
  padding: 0.2em;
  top: 0;
  right: 0;
}

.book-preview-title {
  font-size: 1.05rem;
  font-weight: 500;
  transition: 0.3s color;
}
